@import "tailwindcss";

@theme {
  --color-softOrange: hsl(35, 77%, 62%);
  --color-softRed: hsl(5, 85%, 63%);
  --color-offWhite: hsl(36, 100%, 99%);
  --color-grayishBlue: hsl(233, 8%, 79%);
  --color-darkGrayishBlue: hsl(236, 13%, 42%);
  --color-veryDarkBlue: hsl(240, 100%, 5%);

  --font-inter: Inter, sans-serif;

  --animate-open-menu: open 1s;
  --animate-close-menu: close 1s;
  --animate-filter-on: filter-on 1s ease;
  --animate-filter-off: filter-off 1s ease;

  @keyframes close {
    from {
      right: 0;
    }
    to {
      right: -70dvw;
    }
  }
  @keyframes open {
    from {
      right: -70dvw;
    }
    to {
      right: 0;
    }
  }

  @keyframes filter-on {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes filter-off {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
